EXPO_PUBLIC_API_BASE_URL=https://hfl-admin-coral.vercel.app

# Eskiz SMS API Configuration
ESKIZ_EMAIL=
ESKIZ_PASSWORD=
ESKIZ_FROM=4546

# OTP Configuration
OTP_TTL_SECONDS=300
OTP_RATE_LIMIT_PER_MINUTE=1
OTP_RATE_LIMIT_PER_DAY=10